**# Data Structures**

In [ ]:
# integer
a = 1
print("type a =", type(a))

In [ ]:
# floating-point number
c = 0.5
d = 3 / 4
print("type c =", type(c))
print("type d =", type(d))

In [ ]:
# Boolean
t = True
f = False
print("type t =", type(t))
print("type f =", type(f))

In [ ]:
# complex number
z = 3 + 5j
z.real  # 3.0
z.imag  # 5.0
print("type z =", type(z))

In [ ]:
# create string
char1 = "Hello World"
char2 = "0123456789"
print("type char1 =", type(char1))
print("type char2 =", type(char2))

In [ ]:
# read string
char3 = "HelloCB3Python"
char3[3:7]

In [ ]:
# string + replace
char4 = "abc"
char4.replace("abc", "Hello")

In [ ]:
# string + len
char5 = "helloPython"
len(char5)

In [ ]:
# string + in
char6 = "Python"
"y" in char6

In [ ]:
# string + split
char7 = "one-two-three"
char7.split("-")

In [ ]:
# string + concatenation
char9 = "ab"
char10 = "cd"
char9 + char10

**# Composite data structure**

# LIST
"CRUD + sort + len + in"

In [ ]:
# create List
list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c", "d"]
list3 = [1, 2, 3, "a", "b", "e"]
type(list1)
type(list2)
type(list3)

In [ ]:
# read list
list4 = [1, 2, 3, "a", "b", "e"]
list4[0]  # แสดงค่าข้อมูลที่ตำแหน่ง 0 จาก list4 มีค่าเท่ากับ 1
list4[-1]  # แสดงค่าข้อมูลที่ตำแหน่ง -1 จาก list4 มีค่าเท่ากับ "e"
list4[-2]  # แสดงค่าข้อมูลที่ตำแหน่ง -2 จาก list4 มีค่าเท่ากับ "b"
list4[3:]  # แสดงค่าข้อมูลที่ตำแหน่ง 3 เป็นต้นไป จาก list4 มีค่าเท่ากับ ["a","b","e"]
list4[:5]  # แสดงค่าข้อมูลที่ตำแหน่ง 0 จึงถึงตำแหน่งที 4 จบที่ตำแหน่ง 5 จาก list4 มีค่าเท่ากับ [1,2,3,"a","b"]
list4[3:5]  # แสดงค่าข้อมูลที่ตำแหน่ง 3 จึงถึงตำแหน่งที 4 จบที่ตำแหน่ง 5 จาก list4 มีค่าเท่ากับ ["a","b"]

In [ ]:
# update list : replace
list5 = [1, 2, 3, "a", "b", "c"]
list5[0] = 0  # แทนค่าข้อมูลใน list จากตำแหน่งที่ 0 กำหนดค่าใหม่เป็น 0
print(list5)
list5[-1] = "x"  # แทนค่าข้อมูลใน list จากที่ตำแหน่งที่ -1 กำหนดค่าใหม่เป็น 'x'
print(list5)

In [ ]:
# update list : append
list5 = [1, 2, 3, "a", "b", "c"]
list5.append("d")  # เพิ่มค่าใน list โดยจะเพิ่มในส่วนท้ายสุดของ list
print(list5)
list5.append("e")
print(list5)

In [ ]:
# update list : extend
list6 = [1, 2, 3]
list7 = ["a", "เขา", "c"]
list6.extend(list6)  # นำ list มาต่อกัน
print(list6)

In [ ]:
# update list : extend
list8 = [1, 2, 3, "a", "b", "c"]
list8.insert(1, "one")  # แทรกข้อมูลที่ตำแหน่งใด ระบุไป
print(list8)

In [ ]:
# delete list : del
list9 = [1, 2, 3, "a", "b", "c"]
del list9[3]  # ลบข้อมูลในตำแหน่ง
# delete list : remove
list9.remove(1)  # ลบข้อมูลจากตำแหน่งที่กำหนด
list9.remove("b")  # ลบข้อมูลจากค่าที่กำหนด
# delete list : clear
list9.clear()  # เอาข้อมูลใน list ออกหมด
list9

In [ ]:
# list + sort
list10 = [1, 5, 4, 2, 3, 8, 1.5]
print(list10)
list10.sort()  # เรียงลำดับน้อยไปมาก
print(list10)
list10.sort(reverse=True)  # เรียงลำดับย้อนกลับ
print(list10)
sorted_list10 = sorted(list10)
print(sorted_list10)
sorted_list10 = sorted(list10, reverse=True)
print(sorted_list10)

In [ ]:
# list + len
list11 = [1, 5, 4, 2, 3, 8, 1.5]
len(list11)

In [ ]:
# list + in
list12 = [1, 2, 3, "a", "b", "c"]
'b' in list12 # หากเจอสิ่งที่หาใน list จะขึ้นว่า True
5 in list12 # หากไม่เจอสิ่งที่หาใน list จะขึ้น False

# Tuple
"CR + len + in"

In [ ]:
# create a tuple
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ("a", "b", "c")
tuple3 = (1, 2, 3.14, "a", "b", "c")
# print(tuple1)
print(type(tuple1))  # การเช็คชนิดข้อมูล
print(tuple3[-1])  # อ่านข้อมูลจากตำแหน่งที่กำหนด

In [ ]:
#read tuple
tuple4 = (1, 2, 3.14, "a", "b","c")
print(tuple4[0])
print(tuple4[-1])
print(tuple4[-2])

In [ ]:
#read tuple
tuple5 = (1,2,3,'a','b','c')
tuple5[3:]
tuple5[:5]
tuple5[3:5]

In [ ]:
#tuple + len
tuple6 = (1,2,3,'a','b','c')
print(len(tuple6))

In [ ]:
#tuple + in
tuple7 = (1,2,3,'a','b','c')
print('b' in tuple7)
print(4 in tuple7)

# Dictionary
"CRUD + len + in"

In [8]:
# create dictionary
dict1 = {
    'firstname': 'John',
    'lastname': 'Doe',
    'age': 36
}
dict2 = {
    'fullname': 'JohnDoe',
    'hobby': ['coding', 'study']
}
print(type(dict1))
print(type(dict2))

<class 'dict'>
<class 'dict'>

In [7]:
# read dictionary
dict3 = {"firstname": "John", "lastname": "Doe", "age": 36}
print(dict3["firstname"])
print(dict3["age"])

John
36

In [6]:
# update dictionary
dict4 = {"firstname": "John", "lastname": "Doe", "age": 36}
print(dict4["firstname"])
dict4["firstname"] = 'Mario'
print(dict4["firstname"])

John
Mario

In [2]:
# add dictionary
dict5 = {"firstname": "John", "lastname": "Doe", "age": 36}
dict5['blood_groups'] = 'o'
print(dict5)

{'firstname': 'John', 'lastname': 'Doe', 'age': 36, 'blood_groups': 'o'}

In [3]:
# update dictionary
dict6 = {"firstname": "John", "lastname": "Doe", "age": 36}
dict6.update({'blood_groups': 'o', 'height': 180})
print(dict6)

{'firstname': 'John', 'lastname': 'Doe', 'age': 36, 'blood_groups': 'o', 'height': 180}

In [4]:
# delete dictionary
dict7 = {"firstname": "John", "lastname": "Doe", "age": 36}
del dict7['lastname']
print(dict7)

{'firstname': 'John', 'age': 36}

In [5]:
dict8 = {"firstname": "John", "lastname": "Doe", "age": 36}
dict8.clear()
print(dict8)

{}

In [11]:
# dictionary + len
dict9 = {"firstname": "John", "lastname": "Doe", "age": 36}
print(len(dict9))
print(len(dict9.keys()))
print(len(dict9.values()))

3
3
3

In [14]:
# dictionary + in
dict10 = {"firstname": "John", "lastname": "Doe", "age": 36}
print("firstname" in dict10)
print("firstname" in dict10.keys())
print('john' in dict10.values())

True
True
False

# Set
"CRUD + len + in"
+ union
+ intersection
+ difference
+ Symmetric difference

In [15]:
# create set
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3,'a','b','c'}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [16]:
#read set
set3 = {'a','b','c','d','e'}
for x in set3:
    print(x)

b
a
c
e
d

In [17]:
# add set
set4 = {"a", "b", "c", "d", "e"}
set4.add(1)
print(set4)

{1, 'b', 'a', 'c', 'e', 'd'}

In [18]:
# update set
set5 = {"a", "b", "c", "d", "e"}
set5.update({1,2})
print(set5)

{1, 'b', 2, 'a', 'c', 'e', 'd'}

In [ ]:
# remove set + clear
set6 = {"a", "b", "c", "d", "e"}
set6.remove('a')
print(set6)
set6.clear()
print(set6)

In [ ]:
# set + union
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}
# union set
print(setA | setB)  # ตัวที่ซ้ำนับครั้งเดียว
# intersection set
print(setA & setB)  # แสดงเฉพาะตัวที่เหมือนกัน
# difference set
print(setA - setB)
# symmertric difference
print(setA ^ setB)